body {
	background-color: black;
	background-image: url(http://www.wallpaper77.com/upload/DesktopWallpapers/cache/Route-163-landscape-desert-1440x900.jpg);
}




.header {
	background-color: #b3cdee;
    height: 170px;
    width: 900px;
    margin-right: 90px;
    margin-left: 180px;
}

.game_window {
	background-color:lightblue;
    height: 495px;
    width: 536px;
    position: absolute;
    top: 200px;
    left: 360px;
}

p {
    text-align: center;
    color: orange;
    font-family: fantasy;
    font-size: x-large;
}

p#top {
    color: white;
    font-family: 'chewy';
    font-size: medium;
}

p#go {
    color: black;
    font-family: 'chewy';
}

p#word {
    color: black;
    font-family: 'chewy';
}

p#letters {
    color: black;
    font-family: 'chewy';
}


